body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,article,aside,footer,header,hgroup,nav,section,menu{margin:0;padding:0;}
fieldset,img{border:0;vertical-align:middle;}
input,textarea{outline-style:none;}
textarea{resize:none;}
button{border:0;outline:none;}
a{text-decoration:none;outline:none;}
a:hover{text-decoration:none;}
em{font-style: normal;}
ul{list-style: none;}
h1,h2,h3,h4,h5,h6{
    font-weight: 200;
}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}
*{
    margin: 0;
    padding: 0;
    font-family: "PingFang SC","Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft Yahei","微软雅黑",STHeiti,"华文细黑",Arial,sans-serif;
}
body{
    width: 100%;
    min-width: 1170px;
    margin: 0px;
    padding: 0px;
    display:block;
    font-size: 14px;
}
/*头部公共样式*/
header{
    width: 100%;
    min-width: 1170px;
    height: 435px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 2px 40px rgba(0,0,0,.6);
    nav{
        height: 435px;
        background-size: cover;
        h1{
            margin-top: 86px;
            color: #fff;
            font-size: 36px;
            text-align: center;
            letter-spacing: 3px;
        }
        .h-text{
            margin-top: 10px;
        }
    }
}
/*中部公共样式*/
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.contant-text{
    background: #F0F4FC;
    padding:0px;
}
.contant-text p{
    text-align: center;
    font-size:24px;
    line-height: 1.5;
    color: #252525;
    padding:30px 0px;
    border-bottom: 1px solid #A9A9A9;
    background: #F0F4FC;
}
.point-1{
    background: #F0F4FC;
}
.common{
    margin-top:70px;
    margin-bottom:70px;
    min-height:340px;
}
.common-left{
    padding-right:40px;
}
.common-right{
    padding-left:40px;
}
.point-title{
    font-size: 24px;
    color: #333333;
    margin:0px;
}
.undertitle{
    width:153px;
    display:inline-block;
    height:2px;
    background:#3D96E7;
}
.point-text{
    font-size: 16px;
    color: #333333;
    line-height: 30px;
    margin-top: 10px;
}
.btn-define{
    background: #3876FF;
    border-radius: 4px;
    color:#ffffff;
    padding:7px 17px;
    margin-top: 20px;
    display:inline-block;
}
a:hover,a:focus{
    color:#ffffff;
    text-decoration: none;
}
.point-title-w{
    font-size: 24px;
    color: #ffffff;
    margin:0px;
}
.undertitle-w{
    width:153px;
    display:inline-block;
    height:2px;
    background:#ffffff;
}
.point-text-w{
    font-size: 16px;
    color: #ffffff;
    line-height: 30px;
    margin-top: 10px;
}
.industrial-case h3{
    font-size: 28px;
    color:#000000;
    text-align: center;
}
.industrial-case-list{
    width:1080px;
    height:250px;
    margin:30px auto 0px;
    border-top:1px solid #D8D8D8;
    border-bottom:1px solid #D8D8D8;
}
.industrial-case-ico{
    width:303px;
    height:180px;
    float:left;
    margin:35px 30px 35px 70px;
}
.industrial-case-contant{
    width:573px;
    height:180px;
    float:left;
    margin:35px 70px 35px 30px;
}
.industrial-case-contant h4{
    font-size: 20px;
    color: #333333;
}
.industrial-case-contant p{
    font-size: 16px;
    color: #333333;
    line-height: 27px;
}
.industrial-case-contant a{
    font-size: 14px;
    color: #3876FE;
}
